@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vendor/reset';
@import './variables/custom-tailwind';

* {
  box-sizing: border-box;
}

body {
  background-color: #07001a;
  font-family: 'Roboto', sans-serif;
}
